{% extends 'orders/header.html' %} {% block content %}

<div class="container-fluid">
    <div class="content my-3 px-2">
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="row">
                      <div class="column"><h2 id="cart_heading"></h2></div>
                      <div class="column"><button
                            type="button"
                            class="btn btn-dark btn-sm rounded-0"
                            onclick="clear_cart_btn()"
                          >
                            <i class="fa fa-clear"></i> Clear Cart
                          </button></div>
                    </div>

<!--                    <fieldset class="pb-2 mb-3 border w-100">-->
<!--                        <legend class="px-3 w-auto ml-3">Instructions:</legend>-->
<!--                        <ul>-->
<!--                            <li>Click the Item row to remove item from cart list. </li>-->
<!--                            <li>Click checkout button to place order </li>-->
<!--                        </ul>-->
<!--                    </fieldset>-->
                    <table class="table table-bordered table-striped" id="card-tbl">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="text-center">#</th>
                                <th scope="col" class="text-center">Item Description</th>
                                <th scope="col" class="text-center">Price</th>
                            </tr>
                        </thead>
                        <tbody id="cart_body">
                        </tbody>
                    </table>


                    <h2>Total: <span class="badge badge-light border px-5 rounded-pill" id="total"></span></h2>
                </div>

                <div class="row justify-content-center">
                  <label for="table_number">Table Number: </label>
                    <select required type="number" name="table" id="table_number" min="1" onblur="getTableNum()" list="table-list" >
                        <option value="none" selected>Select an Option</option>
                        {% for table in tables %}
                              <option value="{{table.table_number}}">{{table.table_number}}</option>
                        {% endfor %}
                    </select>
                </div>
                <hr>
                <div class="row justify-content-center">
                        <button id="checkout_button" type="submit" class="btn btn-primary btn-block btn-lg rounded-pill" onclick="checkout()">Checkout</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}