{% extends 'orders/header.html' %} {% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container secondary-container">
  <div class="content my-3">
    <div class="card rounded-0 shadow">
      <div class="card-body">
        <div class="box">
          <h3>Radisson Beach Resort</h3>
          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td width="36px">
                  <i class="fa fa-phone"></i>
                </td>
                <td>
                  <a href="tel:+35724721110">+357 24 721 110</a>
                </td>
              </tr>
              <tr>
                <td width="36px">
                  <i class="fa fa-fax"></i>
                </td>
                <td>
                  <a href="fax:+357721345">+357 721 345</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-envelope-open"></i>
                </td>
                <td>
                  <a href="mailto:info.larnaca@radisson.com">info.larnaca@radisson.com</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-map-marker"></i>
                </td>
                <td>Dhekelia Road, Larnaca, 7041, Cyprus</td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.facebook.com/RadissonLarnacaBeachResort/" class="fa fa-facebook"></a>
                  <a href="https://www.instagram.com/radissonbeachresortlarnaca/" class="fa fa-instagram"></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row justify-content-center" style="margin-top:20px;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d928.0651185758344!2d33.669340443168245!3d34.9687925830107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14de299a9d6488b7%3A0x18fc7e0965058cf9!2sRadisson%20Beach%20Resort%20Larnaca!5e1!3m2!1sen!2s!4v1665489396610!5m2!1sen!2s" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div> {% endblock %}