{% extends 'orders/header.html' %}
{% load static %}
{% block content %}

<div class="container main-container">
    {% if request.user.is_authenticated %}
        {% if last_order %}
            <div class="alert alert-info" role="alert">
                Take a look on your last order <a href="/order_success" class="alert-link">here</a>
            </div>
        {% endif %}
    {% endif %}
    <div class=" my-4">
        <div class=" rounded-0 shadow">
            <div class="card-body">
               {% for cat in categories %}
                <div class="section" id="{{cat}}">
                   <h5 class="title-category"><span>{{cat}}</span></h5>
                    {% for dish in all_dishes %}
                        {% if cat == dish.category_id %}
                        <div class="card" id="dish-card">
                            <div class="dish-body">
                                <div>
                                    <h5 class="card-title">{{dish.dish_name}}</h5>
                                    <div class="allergen-container">
                                        {% for allergen in dish.allergies %}
                                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="{{allergen}}">
                                            <img class="allergen-img" src="media/allergens/{{allergen}}.png">
                                        </span>
                                        {% endfor %}
                                    </div>
                                    <h6>{{dish.dish_description}}</h6>
                                </div>
                                 <!-- Trigger the Modal -->
                                <img id="dish-img" class="dish-img" src="{{dish.dish_image}}">

                                <!-- The Modal -->
                                <div id="dish-img-modal" class="modal" onclick="document.getElementById('dish-img-modal').style.display='none'">

                                  <!-- The Close Button -->
                                  <span class="close" onclick="document.getElementById('dish-img-modal').style.display='none'">&times;</span>

                                  <!-- Modal Content (The Image) -->
                                  <img class="modal-content" id="img01">

                                  <!-- Modal Caption (Image Text) -->
                                  <div id="caption"></div>
                                </div>
                            </div>
                            {% if request.user.is_authenticated %}
                                {% if dish.enabled %}
                                <button class="btn btn-info" onclick="add_to_cart({item_description:'{{dish.dish_name}}' , price:'{{dish.price}}', comments:''})">€ {{dish.price}}</button>
                                {% else %}
                                 <button class="btn btn-danger">Not Available</button>
                                {% endif %}
                            {% else %}
                            <button class="btn btn-outline-info" onclick="add_to_cart()">€ {{dish.price}}</button>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
