{% extends 'orders/header.html' %}
{% load static %}
{% block content %}

<div class="container main-container">
    <div class=" my-4">
        <div class=" rounded-0 shadow">
            <div class="card-body">
               {% for cat in categories %}
                <div class="section" id="{{cat}}">
                   <h5 class="title-category">{{cat}}<div class="line"></div></h5>
                    {% for dish in all_dishes %}
                        {% if cat == dish.category_id %}
                        <div class="card" id="dish-card">
                            <div class="dish-body">
                                <div>
                                    <h5 class="card-title">{{dish.dish_name}}</h5>
                                    <div class="allergen-container">
                                        {% for allergen in dish.allergies %}
                                        <img class="allergen-img" src="media/allergens/{{allergen}}.png">
                                        {% endfor %}
                                    </div>
                                    <h6>{{dish.dish_description}}</h6>
                                </div>
                                <img id="dish-img" class="dish-img" src="{{dish.dish_image}}">
                            </div>
                            {% if request.user.is_authenticated %}
                            <button class="btn btn-success" onclick="add_to_cart({item_description:'{{dish.dish_name}}' , price:'{{dish.price}}'})">€ {{dish.price}}</button>
                            {% else %}
                            <button class="btn btn-success" onclick="add_to_cart()">€ {{dish.price}}</button>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
