{% extends 'orders/header.html' %} {% load custom_tags %} {% load humanize %} {% block content %}

<div class="container secondary-container">
    <div class="content my-3 px-4">
        <div class="card shadow rounded-0">
            <div class="card-body">
                <div class="row justify-content-center">
                    {% if user.is_superuser or user.is_staff %}
                    <div class="alert alert-primary" role="alert">
                      <h4 class="alert-heading">Pending Orders:  <span id="pending-orders">-</span></h4>
                    </div>
                    <fieldset class="pb-2 mb-3 border w-100">
                        <legend class="px-3 w-auto ml-3">Instructions:</legend>
                        <ul>
                            <li>Click the <span style="color: red; font-weight: bold;">Red</span> order row to mark it as delivered</li>
                            <li>Click the <span style="color: green; font-weight: bold;">Green</span> Order Row to mark it as pending</li>
                        </ul>
                    </fieldset>
                    {% else %}
                        <h2> My Orders </h2>
                    {% endif %}

                    <table class="table" id="order-tbl">
                        <thead class="thead-light">
                            {% if user.is_superuser or user.is_staff  %}
                                <tr>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Ordered by</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Order</th>
                                    <th scope="col">Amount Paid</th>
                                    <th scope="col">Table</th>
                                </tr>
                            {% else %}
                                <tr>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Order</th>
                                    <th scope="col">Amount Paid</th>
                                </tr>
                            {% endif %}
                        </thead>
                        <tbody id="orders_table">
                            {% for row in rows %} {% if row.delivered %}
                            <tr class="table-success">
                                {% else %}
                                <tr class="table-danger">
                                    {% endif %}

                                    {%  if user.is_superuser or user.is_staff  %}
                                        <td>{{row.id}}</td>
                                        <td>{{row.username}}</td>
                                        <td>{{row.time_of_order}}</td>
                                        <td>
                                            <ul>
                                                {% for item in row.order|format_cart %}
                                                <li>{{item|format_cart_item}}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>€ {{row.price|floatformat:2|intcomma}}</td>
                                        <td>{{row.table_number}}</td>

                                    {% else %}
                                        <td>{{row.id}}</td>
                                        <td>{{row.time_of_order}}</td>
                                        <td>
                                            <ul>
                                                {% for item in row.order|format_cart %}
                                                <li>{{item|format_cart_item}}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>€ {{row.price|floatformat:2|intcomma}}</td>

                                    {% endif %}
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}