{% extends 'orders/header.html' %} {% block content %}

<div class="container secondary-container">
  {% if order.delivered %}
  <div class="alert alert-success" role="alert">
  Order status: Approved <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
</svg>
</div>
  {% else %}
  <div class="alert alert-danger" role="alert">
    Order status: Pending <span class="spinner-border spinner-border-sm" aria-hidden="true" style="margin-bottom: .1rem;"></span>
</div>
  {% endif %}
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="text-center logo p-2 px-2">
          <img src="/media/rbrl_logo.png" width="100">
        </div>
        <div class="invoice">
          <h5>Order Sent!</h5>
<!--          <span class="font-weight-bold d-block mt-4">Hello, {{request.user}}</span>-->
          <span class="font-weight-bold d-block mt-4">Hello, Table {{order.table_number}}</span>
          <span>The kitchen will process your order and update this page when its ready</span>
          <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>
                    <div class="py-2">
                      <span class="d-block text-muted">Order Date</span>
                      <span>{{order.time_of_order}}</span>
                    </div>
                  </td>
                  <td>
                    <div class="py-2">
                      <span class="d-block text-muted">Order No</span>
                      <span>{{order.id}}</span>
                    </div>
                  </td>
<!--                  <td>-->
<!--                    <div class="py-2">-->
<!--                      <span class="d-block text-muted">Table Number</span>-->
<!--                      <span>{{order.table_number}}</span>-->
<!--                    </div>-->
<!--                  </td>-->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="product border-bottom table-responsive">
            <table class="table table-borderless">
              <tbody>
                {% for dish in order_list %}
                  <tr>

                        <td width="60%">
                          <span class="font-weight-bold">{{dish.0}}</span>
                          <div class="product-comment">
                              <span class="d-block">{{dish.1}}</span>
                          </div>
                        </td>
                    <td width="20%">
                  <div class="text-right">
                    <span class="font-weight-bold">€ {{dish.2}}</span>
                  </div>
                </td>
                                    </tr>


                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row d-flex justify-content-end">
            <div class="col-md-5">
              <table class="table table-borderless">
                <tbody class="totals">
                  <tr>
                    <td>
                      <div class="text-left">
                        <span class="text-muted">Subtotal</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span>€ X</span>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="text-left">
                        <span class="text-muted">Tax</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span>€ X</span>
                      </div>
                    </td>
                  </tr>
<!--                  <tr>-->
<!--                    <td>-->
<!--                      <div class="text-left">-->
<!--                        <span class="text-muted">Discount</span>-->
<!--                      </div>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                      <div class="text-right">-->
<!--                        <span class="text-success">$168.50</span>-->
<!--                      </div>-->
<!--                    </td>-->
<!--                  </tr>-->
                  <tr class="border-top border-bottom">
                    <td>
                      <div class="text-left">
                        <span class="font-weight-bold">Total</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span class="font-weight-bold">€ {{order.price}}</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p class="font-weight-bold mb-0">Thank you and enjoy your time at Filini restaurant</p>
          <span>@Radisson Beach Resort</span>
        </div>
          <div class="go-to-home">
              <a class="btn btn-gold" href="/" role="button">Go to Home</a>
          </div>
      </div>
    </div>
  </div>
</div> {% endblock %}