{% extends 'orders/header.html' %} {% load custom_tags %} {% load humanize %} {% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container secondary-container" id="orders-container">
    <div class="content my-3">
        <div class="card shadow rounded-0">
            <div class="card-body">
                <div class="row justify-content-center">
                    {% if user.is_superuser or user.is_staff %}
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">Pending Orders: <span id="pending-orders">0</span></h4>
                    </div>
                    <fieldset class="pb-2 mb-3 border w-100">
                        <legend class="px-3 w-auto ml-3">Instructions:</legend>
                        <ul>
                            <li>Click the <span style="color: red; font-weight: bold;">Red</span> order row to mark it
                                as delivered
                            </li>
                            <li>Click the <span style="color: green; font-weight: bold;">Green</span> Order Row to mark
                                it as pending
                            </li>
                        </ul>
                    </fieldset>
                    {% else %}
                    <h2> My Orders </h2>
                    {% endif %}

                    <table class="table" id="order-tbl">
                        <thead class="thead-light">
                        {% if user.is_superuser or user.is_staff %}
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Ordered by</th>
                            <th scope="col">Date</th>
                            <th scope="col">Order</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Table</th>
                        </tr>
                        {% else %}
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Date</th>
                            <th scope="col">Order</th>
                            <th scope="col">Amount</th>
                        </tr>
                        {% endif %}
                        </thead>
                        <tbody id="orders_table">
                        {% for row in rows %} {% if row.delivered %}
                        <tr class="table-success">
                            {% else %}
                        <tr class="table-danger">
                            {% endif %}

                            {% if user.is_superuser or user.is_staff %}
                            <td>{{row.id}}</td>
                            <td>{{row.username}}</td>
                            <td>{{row.time_of_order}}</td>
                            <td>
                                <ul>
                                    {% for item in row.orderlist|format_cart %}
                                    <li>{{item|format_cart_item}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>€ {{row.price|floatformat:2|intcomma}}</td>
                            <td>{{row.table_number}}</td>

                            {% else %}
                            <td>{{row.id}}</td>
                            <td>{{row.time_of_order}}</td>
                            <td>
                                <ul>
                                    {% for item in row.order|format_cart %}
                                    <li>{{item|format_cart_item}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>€ {{row.price|floatformat:2|intcomma}}</td>

                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
const $ = jQuery;
var super_or_staff = check_user_super() || check_user_staff()

function formatDate(date) {
  var hours = date.getHours();
  var minutes = date.getMinutes();
  var ampm = hours >= 12 ? 'pm' : 'am';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  var strTime = hours + ':' + minutes + ' ' + ampm;
  return date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear() + "  " + strTime;
}

const updateOrders = () => {
  $.ajax({
    url: '/update-orders',
    method: 'GET',
    success: (data) => {
        var pending_orders = 0;
        data.forEach( (row) => {
            if (!row.fields.delivered) {
                pending_orders += 1;
            }
        });
        var pending_orders_old = document.getElementById('pending-orders').innerText;
        document.getElementById('pending-orders').innerText = pending_orders;
        if (pending_orders > pending_orders_old) {
            var audio = new Audio('media/notification.mp3');
            audio.play();
            display_notif("new order", "No info provided", "6000");
            pending_orders_old = pending_orders;
        }

        $('#order-tbl tbody').empty();
        data.forEach( (row) => {
            let row_html = '';

            if(row.fields.delivered) {
                row_html += '<tr class="table-success">';
            } else {
                row_html += '<tr class="table-danger">';
            }

            const time_of_order = new Date(row.fields.time_of_order);
            console.log(time_of_order);
            if (super_or_staff) {
                row_html += `
                    <td>${row.pk}</td>
                    <td>${row.fields.username}</td>
                    <td>${formatDate(time_of_order)}</td>
                `;

                order = row.fields.order.replaceAll("'","").replace("[","").replace("]","").split(',');
                comments = row.fields.comments.replaceAll("'","").replace("[","").replace("]","").split(",");

                row_html += `
                    <td>
                        <ul>
                `;

                order.forEach((item, index) => {
                  const comment = comments[index];
                  if (comment) {
                    row_html += '<li>' + item + ' (' + comment + ' )' + '</li>';
                  } else {
                    row_html += '<li>' + item + '</li>';
                  }
                });

                row_html += `
                    </ul>
                        </td>
                `;

                row_html += `
                    <td>€ ${row.fields.price}</td>
                    <td style="text-align: center;">${row.fields.table_number}</td>
                `;
            }
            row_html += '</tr>';

            if (super_or_staff) {
                $('#order-tbl tbody').append(row_html);
            }
        });
        order_list_functionality();
    },
    error: (error) => {
        console.log(error);
    }
  });
}

if (super_or_staff){
    setInterval(updateOrders, 3000);
    updateOrders();
}



</script>

{% endblock %}